:root {
    --primary-color: #f5f2f2;
    --secondary-color: #0077ff;
    --accent1-color: rgba(38, 101, 219, 0.88);
    --accent2-color: #fff;
    --heading-font: "Arial", sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    border-top: 2px solid #e4e4e4;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
    padding: 20px;
    text-align: center;
}

nav,
p,
section,
article {
    margin: 15px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 100px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.hero article {
    background-color: var(--accent1-color);
    position: absolute;
    bottom: 2px;
}

article p {
    color: var(--accent2-color);
}